In [1]:
# third item in the tess_eb catalog
tid = 'TIC 0001003831'
ra = 133.458629
dec = -25.084257

In [2]:
import math

def round_to_decimal_place(num, decimal_places=3):
    """Round a number to a specified number of decimal places."""
    factor = 10 ** decimal_places
    
    lower_num = math.floor(num * factor) / factor
    upper_num = math.ceil(num * factor) / factor
    
    return lower_num, upper_num

lower_ra, upper_ra = round_to_decimal_place(ra, decimal_places=3)
lower_dec, upper_dec = round_to_decimal_place(dec, decimal_places=3)

In [3]:
import pyvo

no_kelt_tids = []

tap_service_url = "https://exoplanetarchive.ipac.caltech.edu/TAP"
tap_service = pyvo.dal.TAPService(tap_service_url)

# kelt
adql_query = f"""
SELECT *
FROM kelttimeseries	
WHERE kelttimeseries.ra>{lower_ra} AND kelttimeseries.ra<{upper_ra} AND
      kelttimeseries.dec>{lower_dec} AND kelttimeseries.dec<{upper_dec}
"""

result = tap_service.search(adql_query)
light_curve = result.to_table()
if len(light_curve) == 0:
    no_kelt_tids.append(tid)
    return

SELECT *
FROM kelttimeseries
WHERE kelttimeseries.ra>133.458 AND kelttimeseries.ra<133.459 AND
      kelttimeseries.dec>-25.085 AND kelttimeseries.dec<-25.084

<DALResultsTable length=4>
       kelt_sourceid        kelt_field ...          z           spt_ind
                                       ...
           object             object   ...       float64         int32
--------------------------- ---------- ... ------------------- ---------
KELT_S22_lc_002000_V01_east        S22 ... -0.4239560080055376 113111002
KELT_S22_lc_002000_V01_east        S22 ... -0.4239560080055376 113111002
KELT_S22_lc_002000_V01_east        S22 ... -0.4239560080055376 113111002
KELT_S22_lc_002000_V01_east        S22 ... -0.4239560080055376 113111002

In [73]:
df = pd.read_csv('tess_ebs_data.csv')

def get_row_by_tid(tid):
    filtered_df = df[df['tid'] == tid]
    
    return filtered_df.iloc[0]

tid_value = 'TIC 0001003831'  # Replace 'example_tid' with the actual tid you're looking for
row = get_row_by_tid(tid_value)
print(row)

tid                  TIC 0001003831
ra                       130.295165
dec                       -16.03628
primary_transit         1518.970858
secondary_transit       1519.882292
period                     1.651149
phase_difference              0.552
Name: 0, dtype: object

In [65]:
import os

tid = 'TIC 0001220444'
base_dir = f'output/{tid}'

asassn_df = None

for item in os.listdir(base_dir):
    
    # Attempt to open the file starting with "asas_sn_id..."
    for filename in os.listdir(item_path):
        if filename.startswith("asas_sn_id"):
            with open(os.path.join(item_path, filename), 'r') as file:
                
                # Read the file content into a DataFrame
                asassn_df = pd.read_csv(file, skiprows=1)

In [66]:


# Display the modified DataFrame
display(asassn_df)

,asas_sn_id,jd,flux,flux_err,mag,mag_err,limit,fwhm,image_id,camera,quality,phot_filter
0,25769890497,2.455951e+06,501.343339,0.136500,9.709443,0.000296,16.874523,2.11,ba003670,ba,G,V
1,25769890497,2.455956e+06,503.270356,0.133380,9.705278,0.000288,16.899631,2.08,ba004540,ba,G,V
2,25769890497,2.455969e+06,476.163416,0.144409,9.765391,0.000330,16.813374,2.38,ba006423,ba,G,V
3,25769890497,2.455985e+06,382.626607,0.383728,10.002843,0.001090,15.752297,1.99,ba009041,ba,G,V
4,25769890497,2.455989e+06,334.754248,0.463309,10.147966,0.001504,15.547681,2.16,ba009611,ba,G,V
...,...,...,...,...,...,...,...,...,...,...,...,...
1381,25769890497,2.460397e+06,256.299320,0.725006,10.378197,0.003075,15.001786,1.48,bs618595,bs,G,g
1382,25769890497,2.460398e+06,387.135090,0.139775,9.930409,0.000392,16.789071,1.40,br617552,br,G,g
1383,25769890497,2.460405e+06,485.108828,0.136080,9.685468,0.000305,16.818158,1.80,bs621083,bs,B,g
1384,25769890497,2.460406e+06,456.828583,0.255245,9.750682,0.000607,16.135247,2.14,bs621515,bs,G,g
1385,25769890497,2.460408e+06,313.987352,0.624532,10.157785,0.002162,15.163755,1.50,bs622104,bs,G,g